.tutorSide .inner {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.tutorSide .ant-select,
.tutorSide .ant-select-selector {
    height: 45px;
    overflow: hidden !important;
}

.tutorSide .tutorCategoriesSelect .ant-select-selection-item h3 {
    font-size: 14px !important;
    margin-bottom: 0px !important;
}

.tutorSide .tutorCategoriesSelect .ant-select-selection-item p {
    display: none;
}

.tutorCategoriesSelect .ant-select-item-option-content h3 {
    font-size: 17px !important;
}

.tutorCategoriesSelect .ant-select-item-option-content p {
    font-size: 12px !important;
}

.tutorCategoriesSelect .ant-select-item-option {
    margin-bottom: 15px;
}