:root {
  --bg-color: #ffffff;
  --bg-dark-color: #041b29;
  --primary-color: #09B850;
  --secondary-color: #d5f6d5;
  --btn-color: #22a791;
  --text-color: #606261;
  --text-secondary-color: #7c7d7c;
  --shadow-universal: 0px 10px 30px rgba(29, 58, 83, 0.15);
  --violet-light: #8c85ff;
  --violet-dark: #673de6;
  --yellow: #f0be0d;
  --blue: #30aae2;
}

body,
html {
  background: #fff !important;
  padding: 0px !important;
  margin: 0px !important;
  overflow-x: hidden !important;
  color: var(--text-color);
  font-family: "Inter", sans-serif !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin-bottom: 0px;
  text-transform: capitalize;
}

h1 span {
  color: var(--primary-color);
}

p {
  margin-bottom: 0px;
  font-size: 17px !important;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 17px !important;
}

button {
  font-size: 17px !important;
}

img {
  width: 100%;
}

.ant-input,
.ant-input-password {
  padding: 10px;
}

.ant-btn-primary,
.ant-btn,
.ant-btn-primary:hover,
.ant-btn:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.ant-btn svg,
.ant-btn span {
  color: white !important;
}

.ant-btn-danger,
.ant-btn-danger:hover {
  background-color: #dc3545 !important;
}

.ant-select,
.ant-select-selector {
  height: 45px;
  overflow: hidden !important;
}

.ant-table-container {
  overflow-x: auto !important;
}

.App .anticon,
.App svg {
  cursor: pointer;
}

.App svg[stroke="currentColor"] {
  color: var(--primary-color) !important;
}

.anticon-star,
.anticon-star svg {
  cursor: pointer !important;
}

.ant-list-item-meta-description p {
  word-wrap: break-word !important;
}

h1 {
  font-size: 3.6rem !important;
  font-weight: 700 !important;
}

@media (max-width: 767px) {
  h1 {
    font-size: calc(1.485rem + 2.82vw) !important;
  }

  h2 {
    font-size: 2.2rem !important;
  }
}

@media (min-width: 2000px) {
  .App {
    max-width: 2000px;
    margin: 0px auto;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 90% !important;
  }
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 95%;
  }
}