.login .row .leftLogin img {
    width: 100%;
}

.login .leftLogin img {
    height: 100vh;
    height: 100dvh;
    object-fit: cover;
}

.login .rightLogin {
    padding: 30px 60px !important;
    padding-right: 0px !important;
}

.login .rightLogin .logo {
    width: 200px;
    margin-bottom: 23px;
}

.login .rightLogin h2 {
    font-weight: 900;
    font-size: 32px;
}

.login .rightLogin p {
    margin-bottom: 23px;
}

.login .rightLogin .item {
    margin-bottom: 17px;
}

.login .rightLogin .item label {
    display: block;
}

.login .rightLogin button {
    width: 100%;
}

.login .rightLogin .sendCodeBtn {
    font-size: 14px;
}

.login .rightLogin .otpPart {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}

.login .rightLogin .otpPart input {
    width: 100% !important;
    max-width: 70px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid #b6b7b8;
}

.login .rightLogin .loginOption {
    text-align: center;
}

.login .rightLogin .PhoneInput input {
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
}

.login .rightLogin .PhoneBtnContainer {
    position: relative;
    border: 1px solid #b6b7b8;
    border-radius: 4px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    height: 43px;
}

.login .rightLogin .PhoneBtnContainer .codebtn {
    position: absolute;
    right: 10px;
    top: 8px;
    /* margin-left: -15px; */
    font-size: 14px;
    width: max-content;
    padding: 0px;
}

.login .bookTrail {
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    color: black;
}

.login button {
    background-color: var(--btn-color);
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
}

.login .swiperSlide {
    position: relative;
}

.login .swiperSlide:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}


.login .swiperSlide .caption {
    position: absolute;
    bottom: 15%;
    margin: 60px;
    color: white;
    z-index: 1000;
}

.login .swiperSlide .caption h3 {
    color: white;
    font-weight: 400;
    margin-bottom: 23px;
}

.login .swiperSlide .caption h2 {
    color: white;
}

.login .swiperSlide .nameAndReviews {
    display: flex;
    justify-content: space-between;
}

.login .swiperSlide .nameAndReviews .ant-rate {
    color: white;
}

@media (max-width: 767px) {
    .login .leftLogin {
        display: none !important;
    }

    .login .rightLogin {
        padding: 30px !important;
        padding-top: 32px !important;
        max-width: 500px !important;
        margin: 0px auto;
    }

    .login .rightLogin>div>a {
        display: none !important;
    }
}