.login .row .leftLogin,
.login .row .ant-col {
    width: 100%;
    position: relative;
    padding-right: 0px !important;
}

.login .leftLogin img {
    width: 100% !important;
    height: 100vh;
    height: 100dvh;
    object-fit: cover;
}

.login .leftLogin:after {
    content: '';
    position: absolute;
    /* left: 0px; */
    right: 0px !important;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

.login .leftLogin .caption {
    position: absolute;
    bottom: 15%;
    margin: 60px;
    color: white;
    z-index: 1000;
}

.login .leftLogin .caption h3 {
    color: white;
    font-weight: 400;
    margin-bottom: 23px;
}

.login .leftLogin .caption h2 {
    color: white;
}

.login .leftLogin .nameAndReviews {
    display: flex;
    justify-content: space-between;
}

.login .leftLogin .nameAndReviews .ant-rate {
    color: white;
}

.login .rightLogin {
    padding: 30px 60px !important;
    padding-right: 0px !important;
}

.login .rightLogin .logo {
    width: 60px;
    margin-bottom: 23px;
}

.login .rightLogin h2 {
    font-weight: 900;
    font-size: 32px;
}

.login .rightLogin p {
    margin-bottom: 23px;
}

.login .rightLogin .item {
    margin-bottom: 17px;
}

.login .rightLogin .item label {
    display: block;
}

.login .rightLogin button {
    width: 100%;
}

.login .rightLogin .loginOption {
    text-align: center;
}

.login .bookTrail {
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    color: black;
}

.login button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
}

@media (max-width: 767px) {
    .login .leftLogin {
        display: none !important;
    }

    .login .rightLogin {
        padding: 15px !important;
        padding-top: 32px !important;
        max-width: 500px !important;
        margin: 0px auto;
    }

    .login .rightLogin>div>a {
        display: none !important;
    }
}