.UpcomingStudent {
    padding: 45px 0px;
    position: relative;
}

.UpcomingStudent .downloadBtn {
    position: absolute;
    top: 41px;
    right: 30px;
    background-color: var(--primary-color);
    border-radius: 100px;
    color: white;
    padding: 10px 19px;
    z-index: 1000 !important;
}

@media (max-width:767px) {
    .UpcomingStudent {
        padding: 15px !important;
    }
}