.subscriptions-container {
    padding: 10px 0px;
    background: #f0f2f5;
    min-height: 100vh;
}

.subscriptions-container .ant-typography {
    text-align: center;
    margin-bottom: 24px;
}

.subscriptions-container .ant-list-item {
    display: flex;
    justify-content: center;
}

.subscriptions-container .subscriptionsItem {
    width: 100%;
    border-radius: 10px;
    padding: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subscriptions-container p {
    color: var(--text-color);
}

.subscriptions-container .subscriptionsItem .inner {
    background-color: var(--secondary-color);
    width: 100%;
    border-radius: 16px;
    padding: 23px;
}

.subscriptions-container .subscriptionsItem h3 {
    font-size: 19px;
    margin-bottom: 19px;
}

.subscriptions-container .subscriptionsItem h2 {
    text-transform: uppercase;
    font-size: 23px;
}

.subscriptions-container .subscriptionsItem .subsctiptionStatus {
    background-color: var(--primary-color);
    padding: 15px 10px;
    border-radius: 8px;
    color: white !important;
}

.subscriptions-container .subscriptionsItem .subsctiptionStatus.expired {
    background-color: red;
}

.subscriptions-container .subscriptionsItem .subsctiptionStatus p {
    color: white !important;
}

.subscriptions-container .subscriptionsItem .items {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 30px;
    /* padding: 0px 60px; */
}

@media (max-width: 767px) {
    .subscriptions-container {
        padding: 0px !important;
        padding-top: 15px;
    }

    .subscriptions-container .subscriptionsItem .inner {
        padding: 15px !important;
    }

    .subscriptions-container .subscriptionsItem .items {
        flex-wrap: wrap !important;
        justify-content: start;
    }
}