.privacy .inner h1 {
    text-align: center;
    padding-bottom: 50px;
    color: rgb(12, 12, 12);
    text-transform: capitalize;
}

.privacy .inner {
    padding: 45px 0px;
}

.privacy h3 {
    text-align: start;
    padding: 20px 0px !important;
    text-transform: capitalize;
}

.privacy .inner h4 {
    padding-top: 30px;
    text-transform: capitalize;
}

.privacy .inner h5 {
    padding-top: 23px;
    text-transform: capitalize;
}

.privacy .inner ul {
    padding-top: 15px !important;
}

@media (max-width:767px) {
    .privacy .inner {
        padding: 15px !important;
        padding-top: 0px !important;
    }

    .privacy .inner h1 {
        padding-bottom: 19px !important;
        font-size: 30px !important;
        text-align: left;
    }

    .privacy .inner h2 {
        font-size: 36px !important;
        padding-bottom: 10px !important;
        text-align: left !important;
    }
}