.Subscription {
    padding: 20px 0px;
    padding-top: 40px;
}

.Subscription h5 {
    color: var(--primary-color);
}

.Subscription .classesBtns {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    margin: 23px 0px;
    margin-top: 0px !important;
    max-width: 200px;
}

.Subscription .classesBtns .classesSelect>div {
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}

.Subscription .body {
    margin: 0px auto;
    margin-bottom: 1.5rem;
}

.Subscription .features {
    padding-left: 0px;
}

.Subscription .features ul {
    list-style: none;
    padding-left: 0px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 0px;
}

.Subscription .features li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1rem;
    list-style: none !important;
    font-size: 17px;
}

.Subscription .features li svg {
    color: var(--primary-color);
}

.Subscription .subscriptionContainer {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 60px;
}

.Subscription .subscriptionPlanContainer {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    width: 100%;
    max-width: 400px;
}

.Subscription .subscriptionPlanContainer .planContainer {
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.10);
    border-radius: 36px;
    padding: 23px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    width: 100%;
}

.Subscription .subscriptionPlanContainer .planContainer.selected {
    border: 4px solid var(--primary-color);
}

.Subscription .subscriptionPlanContainer .planContainer .save {
    position: absolute;
    right: 10px;
    top: -10px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 0px 6px;
    color: var(--primary-color);
}

.Subscription .subscriptionPlanContainer .planContainer .save p {
    font-size: 14px !important;
}

.Subscription .subscriptionPlanContainer .planContainer h4 small {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--text-color);
    text-transform: lowercase;
}

.Subscription .subscriptionPlanContainer .planContainer h4 small {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--text-color);
    text-transform: lowercase;
}

.Subscription .subscriptionContainer .billContainer {
    width: 100%;
    max-width: 500px;
    background-color: var(--secondary-color);
    padding: 23px;
}

.Subscription .subscriptionContainer .billContainer h4 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 23px;
    font-size: 17px;
    font-weight: 400;
    color: var(--primary-color);
    margin: 23px 0px;
}

.Subscription .subscriptionContainer .billContainer .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
    flex-wrap: wrap;
    row-gap: 19px;
}

.Subscription .subscriptionContainer .billContainer .item.discount h6:last-of-type {
    color: red !important;
}

.Subscription .subscriptionContainer .billContainer .couponContainer .ant-input-group-wrapper {
    width: 100%;
    max-width: 200px;
}

.Subscription .subscriptionContainer .billContainer .item button {
    background-color: #eef4e8;
    padding: 10px 40px;
}


.Subscription .subscriptionContainer .item .ant-input-group-addon,
.Subscription .subscriptionContainer .item .ant-input-group-addon button {
    width: 15px !important;
    font-size: 14px !important;
}

@media (max-width:900px) {
    .Subscription .subscriptionContainer {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 40px;
    }

    .Subscription .subscriptionPlanContainer {
        max-width: 100% !important;
    }
}

@media (max-width:767px) {
    .Subscription {
        padding: 15px !important;
        padding-top: 0px !important;
    }

    .Subscription h1 {
        font-size: 2.4rem !important;
        line-height: 1.3 !important;
        margin-top: 1.5rem;
    }

    .Subscription h3 {
        text-align: left !important;
    }

    .Subscription .inner .features ul {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 6px !important;
    }

    .Subscription .inner .features ul li {
        gap: 4px !important;
        font-size: 14px !important;
    }

    .Subscription .bookTrialPart {
        flex-direction: column !important;
        row-gap: 23px !important;
        margin-top: 15px !important;
    }

    .Subscription .bookTrialPart h2 {
        font-size: 23px !important;
    }

    .Subscription .header p {
        font-size: 1.3rem;
    }

    .Subscription .bookTrialPart .bookBtn {
        text-align: left;
    }

    .Subscription .bookTrialPart .bookBtn button {
        width: 100%;
        margin-top: 0px;
    }

    .Subscription .subscriptionContainer .billContainer .couponContainer .ant-input-group-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .Subscription .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}