.AdminLayout .AdminSidebar {
    background-color: var(--btn-color);
}

.AdminLayout .AdminSidebar button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: white;
    margin-bottom: 19px;
}

.AdminLayout .AdminSidebar button.activeLink {
    background-color: #09B850;
}

.AdminLayout img {
    object-fit: cover;
}

.AdminLayout .AdminRightSection {
    min-height: 80vh;
}

.AdminLayout .expandableContainer {
    padding: 15px;
    background-color: rgb(213, 246, 213);
    color: var(--btn-color);
}

.AdminLayout .AdminSidebar svg {
    color: white !important;
    font-size: 23px !important;
}