.aboutFaqs {
  margin-top: 80px;
  text-align: center;
}

.aboutFaqs .aboutCard img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.aboutFaqs .aboutCard {
  border: 1px solid rgb(204, 203, 203);
  margin: 60px auto;
  max-width: 400px;
  padding: 20px;
  border-radius: 6px;
  text-align: left;
}

.aboutFaqs .aboutCard .addressSection {
  display: flex;
  gap: 10px;
  margin: 15px 0px;
}

.aboutFaqs .aboutCard .addressSection svg {
  margin-top: 6px;
}

.aboutFaqs .aboutCard .callSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.aboutFaqs .mainFaqs .headingFAqs span {
  display: block;
}

.aboutFaqs .mainFaqs .headingFAqs h1 {
  text-align: start !important;
}

.aboutFaqs .mainFaqs .ant-collapse .ant-collapse-header {
  background-color: #f8f8f8;
  border-radius: 6px;
  font-weight: 600 !important;
}

.aboutFaqs .mainFaqs .ant-collapse {
  text-align: start;
  font-size: 16px;
  background-color: white !important;
}

.aboutFaqs .mainFaqs .ant-collapse .ant-collapse-header-text {
  color: rgb(13, 13, 13);
}

.aboutFaqs .mainFaqs .ant-collapse-item {
  margin-bottom: 15px;
  border-bottom: 0px !important;
}

.aboutFaqs .mainFaqs .ant-collapse-item .anticon svg {
  color: black !important;
}

.aboutFaqs .mainFaqs .ant-collapse-content-box {
  padding-top: 17px !important;
}

.aboutFaqs .mainFaqs .ant-collapse .ant-collapse-item-active .ant-collapse-header {
  background-color: var(--primary-color);
}

.aboutFaqs .mainFaqs .ant-collapse .ant-collapse-item-active .ant-collapse-header-text {
  color: white;
}

.aboutFaqs .mainFaqs .ant-collapse .ant-collapse-item-active .anticon svg {
  color: white !important;
}

.aboutFaqs .ant-collapse-item .ant-collapse-expand-icon {
  color: white !important;
}

.aboutFaqs .ant-collapse-item-active .ant-collapse-expand-icon {
  color: white !important;
}