.ForgotPassword {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ForgotPassword>div {
    width: 100%;
    max-width: 541px;
}

.ForgotPassword h2 {
    font-size: 1.5rem !important;
    margin-bottom: 23px;
    font-weight: 800;
}

.ForgotPassword button {
    width: 100%;
    padding: 15px !important;
    height: 43px !important;
}

.ForgotPassword p {
    text-align: left !important;
}