.tutorCard {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 15px;
}

.tutorCard .mainPic img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 6px !important;
}

.tutorCard .nameSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.tutorCard .nameSection .name {
    display: flex;
    /* align-items: center; */
    gap: 4px;
}

.tutorCard .nameSection .name .ant-avatar,
.tutorCard .nameSection .name .ant-avatar img {
    width: 32px !important;
    height: 32px !important;
}

.tutorCard .nameSection .name h4 {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.tutorCard .nameSection .rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tutorCard .nameSection .rating img {
    width: 17px;
}

.tutorCard .buttons {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    text-align: center;
}

.tutorCard .buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0px auto;
    width: 100%;
    padding: 10px 0px;
    color: white;
    background-color: var(--primary-color);
}

.tutorCard .buttons .btn svg[stroke="currentColor"] {
    color: white !important;
}

.tutorCard .buttons .btn:nth-child(2) {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.tutorCard .buttons .btn:nth-child(2) svg[stroke="currentColor"] {
    color: var(--primary-color) !important;
}

.tutorCard .buttons button img {
    width: 17px;
}

.tutorCard .mobileRating {
    display: none;
}


@media (max-width: 767px) {
    .tutorCard {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 19px;
    }

    .tutorCard .mainPic {
        display: none;
    }

    .tutorCard .buttons {
        justify-content: space-between;
        flex-direction: row;
        gap: 10px;
        width: 100% !important;
    }

    .tutorCard .buttons .btn {
        padding: 8px !important;
        width: 100% !important;
    }

    .tutorCard .nameSection {
        display: block !important;
        width: 100%;
        margin: 0px !important;
    }

    .tutorCard .nameSection .name {
        width: 100%;
        gap: 8px !important;
        flex-wrap: wrap !important;
        flex-direction: row;
        row-gap: 0px;
        justify-content: space-between !important;
    }

    .tutorCard .nameSection .name div:last-of-type {
        align-self: center !important;
    }

    .tutorCard .nameSection .name span.ant-avatar,
    .tutorCard .nameSection .name span.ant-avatar img {
        width: 100px !important;
        height: 100px !important;
    }

    .tutorCard .nameSection .name h4 {
        font-size: 23px;
    }

    .tutorCard .rating {
        display: none !important;
    }

    .tutorCard .mobileRating {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}