.chatDrawer {
    z-index: 10000 !important;
}

.video-chat-btn {
    padding: 0px !important;
}

.video-chat-btn svg {
    width: 19px !important;
    height: 19px !important;
}

.chatDrawer .ant-drawer-body {
    padding: 0px !important;
    overflow-y: hidden !important;
}

.chatDrawer .chat-container {
    display: flex;
    height: max-content !important;
    width: 100%;
    position: relative;
}

.chatDrawer .chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chatDrawer .chat-main .video-chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chatDrawer .chat-main .video-chat-window .messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.chatDrawer .chat-main .video-chat-window .chat-input {
    padding: 10px;
    background-color: #fff;
}

.chatDrawer .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    gap: 10px;
}

.chatDrawer .chat-input .ant-input {
    flex: 1;
}

.chatDrawer .ant-drawer-footer {
    padding: 10px !important;
}

@media (max-width: 768px) {
    .chatDrawer .video-chat-window {
        padding: 10px !important;
    }

    /* .chatDrawer .chat-main {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
    } */
}