.BookTrial {
    min-height: 80vh;
}

.BookTrial .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--shadow-universal);
    padding: 19px;
    margin: 30px 0px;
}


.BookTrial .inner h2 {
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: -.02em;
    font-weight: bold;
}

.BookTrial .inner p {
    font-size: 17px;
    letter-spacing: 0;
    max-width: 400px;
    margin-bottom: 10px;
}

.BookTrial .inner .bookBtn {
    text-align: right;
}

.BookTrial .inner .bookBtn button {
    background-color: var(--primary-color);
    border: 1px solid rgb(207 216 227/1);
    border-radius: 50px;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 600;
    padding: 8px 15px;
    margin-top: 2rem;
    margin-bottom: 15px;
    color: white;
}

@media (max-width: 767px) {
    .BookTrial {
        min-height: auto !important;
    }

    .BookTrial .inner h2 {
        font-weight: 600;
        font-size: 28px !important;
    }

    .BookTrial .inner .bookBtn button {
        width: 100%;
    }

    .BookTrial .inner p {
        text-align: left !important;
    }
}