.mainHeader {
    padding: 40px 0px;
}

.mainHeader iframe {
    width: 100% !important;
}

.mainHeader .buttonPart {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mainHeader .buttonPart .getBtn a {
    background-color: black !important;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

.mainHeader .buttonPart .trialBtn a {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 16px 60px;
    border-radius: 4px;
}

.mainHeader .leftSide h2 {
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 30px;
    text-align: start;
}

.mainHeader .leftSide p {
    text-align: start;
}

.mainHeader .iconsPart {
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
    align-items: center;
}

.mainHeader .iconsPart div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mainHeader .iconsPart div p {
    font-size: 16px;
}

@media (max-width: 767px) {
    .mainHeader {
        padding: 15px !important;
        padding-top: 0px !important;
    }
}