.photo img {
  width: 5%;
}
.photo .col-sm-10 {
  position: relative;
  display: inline-block;
}
.photo .col-sm-10 input[type="text"] {
  padding-right: 30px;
  width: 200px;
  box-sizing: border-box;
}
.photo .col-sm-10 button {
  position: absolute;
  right: 0;
  
  top: 0;
  height: 100%;
  padding: 8px 12px; /* Adjust padding as needed */
  border: none;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  cursor: pointer;
}
