.tutorRegistration .row .leftTutorRegistration,
.tutorRegistration .row .ant-col {
  width: 100%;
  position: relative;
  padding-right: 0px !important;
}

.tutorRegistration .leftTutorRegistration img {
  width: 100% !important;
  height: 100vh;
  height: 100dvh;
  object-fit: cover;
}


.tutorRegistration .leftTutorRegistration:after {
  content: '';
  position: absolute;
  /* left: 0px; */
  right: 10px !important;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.tutorRegistration .leftTutorRegistration .caption {
  position: absolute;
  bottom: 15%;
  margin: 60px;
  color: white;
  z-index: 1000;
}

.tutorRegistration .leftTutorRegistration .caption h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 23px;
}

.tutorRegistration .leftTutorRegistration .caption h2 {
  color: white;
}

.tutorRegistration .leftTutorRegistration .nameAndReviews {
  display: flex;
  justify-content: space-between;
}

.tutorRegistration .leftTutorRegistration .nameAndReviews .ant-rate {
  color: white;
}

.tutorRegistration .rightTutorRegistration {
  padding: 30px 40px !important;
}

.tutorRegistration .rightTutorRegistration .logo {
  width: 60px;
  /* margin-bottom: 23px; */
}

.tutorRegistration .rightTutorRegistration h2 {
  font-weight: 900;
  font-size: 32px;
}

.tutorRegistration .rightTutorRegistration p {
  margin-bottom: 23px;
}

.tutorRegistration .rightTutorRegistration .item {
  margin-bottom: 17px;
}

.tutorRegistration .rightTutorRegistration .item label {
  display: block;
}

.tutorRegistration .rightTutorRegistration button {
  width: 100%;
}

.tutorRegistration .rightTutorRegistration .sendCodeBtn {
  font-size: 14px;
}

.tutorRegistration .rightTutorRegistration .otpPart {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.tutorRegistration .rightTutorRegistration .otpPart input {
  width: 100% !important;
  max-width: 70px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #b6b7b8;
}

.tutorRegistration .rightTutorRegistration .loginOption {
  text-align: center;
}

.tutorRegistration .rightTutorRegistration .PhoneInput input {
  border: none;
  outline: none;
  padding: 8px;
  max-width: 160px;
}

.tutorRegistration .rightTutorRegistration .PhoneBtnContainer {
  position: relative;
  border: 1px solid #b6b7b8;
  border-radius: 4px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  height: 43px;
}

.tutorRegistration .rightTutorRegistration .PhoneBtnContainer input {
  border: none !important;
  box-shadow: none;
  outline: none !important;
}

.tutorRegistration .rightTutorRegistration .PhoneBtnContainer .codebtn {
  position: absolute;
  right: 10px;
  top: 10px;
  /* margin-left: -15px; */
  font-size: 14px !important;
  width: max-content;
  padding: 0px;
  background-color: transparent;
  color: black;
}


.tutorRegistration button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px;
  border-radius: 6px;
}


@media (max-width: 767px) {
  .tutorRegistration .leftTutorRegistration {
    display: none !important;
  }

  .tutorRegistration .rightTutorRegistration {
    padding: 15px !important;
    max-width: 500px !important;
    margin: 0px auto;
  }

  .tutorRegistration .rightTutorRegistration>a {
    display: none !important;
  }

  .tutorRegistration .rightTutorRegistration .text-center {
    text-align: left !important;
  }
}