.AllTutors {
  padding: 20px 0px;
}

.AllTutors .header {
  border-radius: 10px;
  background-color: #d5f6d5;
  padding: 15px;
  margin: 30px 0px;
}


.AllTutors h1 {
  font-size: 32px !important;
  /* margin-bottom: 10px; */
  font-weight: bold;
  color: #09b850;
}

@media (max-width: 767px) {
  .AllTutors {
    margin: 0px 0px !important;
    padding: 15px !important;
  }

  .AllTutors .header {
    margin-top: 10px !important;
  }

  .AllTutors .header h1 {
    margin-bottom: 19px !important;
    /* line-height: 34px !important; */
  }
}