.copyContainer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  margin: 15px;
}

.copyDescription {
  cursor: pointer;
}