.video-chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.video-chat-window .messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    max-height: calc(100vh - 180px);
}

.video-chat-window .message.my-message .message-content {
    background-color: #e1ffc7;
}

.video-chat-window .ant-list-item-meta-description {
    word-wrap: break-word !important;
}